<%- include('header'); -%>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        <div class="center">
          <h1><%= bot.user.username %><span class="beta">Alpha</span></h1>
        </div>
        <div class="center">
          <a class="invite-btn" href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id %>&permissions=8&scope=bot%20applications.commands" target="_blank"><span class="iconify" data-icon="bx:bxl-discord-alt" style="color: white;" data-width="80" data-height="80"></span><b class="invite">INVITE</b></a>
        </div>

        <!-- Copyright SLPortal -->
    </body>
</html>